<div class="form-box hide" id="{{dog._id}}" value='adopt'>
    <h2 class="heading-text">Awesome!</h2>
    <p class="secondary-text">Great to see your interest in our little friend!</p>
    <p>please tell us why do you want this dog and our team will get back to you as soon as possible!</p>
    <form action="{{ url_for('adopt_dog', dog_id=dog._id, usr_id=session['user_id']) }}" method="POST" class="col s12 edit-dog-form">
        <div class="row">
            <div class="input-field col s12">
                <textarea name="why_adopt" class="materialize-textarea" data-length="500" required></textarea>
                <label for="why_adopt">Tell us a little about why you want this dog</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Send
                <i class="material-icons left">playlist_add</i>
            </button>
        </div>
    </form>
</div>