<div class="form-box hide" id="{{dog._id}}" value='delete'>
    <form action="{{ url_for('delete_entry', usr_type='dogs', usr_id=dog._id) }}" method="POST" class="col s12 delete-form">
        <div class="row">
            <h2 class="heading-text">Delete dog</h2>
            <p class="secondary-text center">This will delete this dog from the database.</p>
            <p class="center">Are you sure ou want to delete?</p>
            <button class="btn waves-effect waves-light" type="submit" aria-labelledby="Deletes this dog from the database">Yes, Delete
                <i class="material-icons left">delete</i>
            </button>
        </div>
    </form>
</div>