<div class="form-box hide" id="{{dog._id}}" value='edit'>
    <form action="{{ url_for('update_entry', usr_type='dogs', usr_id=dog._id) }}" method="POST" class="col s12 edit-dog-form">
        <div class="row">
            <div class="input-field col s6">
                <input name="dog_name" type="text" class="validate">
                <label for="dog_name">Dog Name</label>
            </div>
            <div class="input-field col s6">
                <input name="dog_breed" type="text" class="validate">
                <label for="dog_breed">Dog Breed</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea name="dog_description" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Description</label>
            </div>
        </div>
        <div class="row">
            <button action="" class="btn waves-effect waves-light" type="submit">Update
                <i class="material-icons right">edit</i>
            </button>
        </div>
    </form>
</div>