<div class="row form-box hide" id="dogs" value="dogs">
    <form action="{{ url_for('add_entry', usr_type='dogs') }}" method="POST" class="col s12">
        <div class="row">
            <h2 class="heading-text">New dog</h2>
            <p class="secondary-text center">Here you can add a new dog to the database</p>
            <p class="center">Just fill in the fields and then press the "Create Account" button at the end of the form.</p>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input name="dog_name" type="text" class="validate" data-length="30" required>
                <label for="dog_name">Name</label>
            </div>
                <div class="input-field col s6">
                <input name="dog_breed" type="text" class="validate" data-length="30" required>
                <label for="dog_breed">Breed</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea name="dog_description" class="materialize-textarea" data-length="300"></textarea>
                <label for="icon_telephone">Short description</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Create Account
                <i class="material-icons right">playlist_add</i>
            </button>
        </div>
    </form>
</div>