/* Cards */

.card-row-find {
    display: flex;
    flex-direction: column;
}
.card-row-register {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .s12 {
        margin-bottom: 2rem;
    }
}
.single-card{
    margin: 1rem 0!important;
    padding: 2rem 1rem;

    .buttons-row {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .card-first-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

}
