/* Media Queries */

@media only screen and (min-width: 600px) {
    label {
        font-size: 2rem;
    }
    [type="radio"]:not(:checked), [type="radio"]:checked {
        margin: 1rem;
    }
    .switch label .lever {
        margin: 1rem;
    }
    .logo-box img {
        max-height: 3.3rem;
        margin: 0.4rem;
    }
    .pawer-logo-name {
    font-size: 4rem;
    }
    .three-words {
    padding: 0.5rem 0.4rem;
    }
    .single-card{
        display: flex;
    }
    .card-content-title {
        margin-top: 0;
    }
    .first-element{
        margin: 0!important;
    }
}

