/* Media Queries */

@media only screen and (min-width: 600px) {
    // .menu-icon{
    //     font-size: 4rem!important;
    //     margin: -0.5rem!important;
    // }
    .logo-box img {
        max-height: 3.3rem;
        margin: 0.4rem;
    }
    .pawer-logo-name {
    font-size: 4rem;
    }
    .three-words {
    padding: 0.5rem 0.4rem;
    }
}

