{% extends 'layout/base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>
<div class="section white">

    {% include 'layout/user-feedback-message.html' %}
    
    <div class="row container">
        <h2 class="heading-text">Login</h2>
        <form method="POST" action="{{ url_for('user_login') }}" class="col s12 m6 offset-m3">
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="login_email" name="login_email" type="email" class="validate">
                        <label for="login_email">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit">Login
                    <i class="material-icons right">account_circle</i>
                </button>
            </div>
        </form>   
    </div>
</div>  
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>

{% endblock %}