
{% extends 'layout/base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup-deck.jpg"></div>
</div>
<div class="section white">
    <div class="container">
        {% if session['is_staff'] == 'is_staff' %}
        <h2 class="heading-text">Staff Register</h2>
        {% else %}
        <h2 class="heading-text">User Registration</h2>
        {% endif %}
        <p>Choose one of the categories below to choose a type for your account</p>
        <div class="row card-row-register">
            {% if session['is_staff'] == 'is_staff' %}
            <div class="col s12 m3">
                <div class="card">
                    <p class="card-title">Dogs</p>
                    <div class="card-image">
                        <i class="material-icons card-icon">pets</i>
                        <a id="dogs" value="dogs" class="btn-floating btn-large halfway-fab waves-effect waves-light red pulse form-trigger"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content register-card-content">
                        <p>Add new dog to the database</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if session['is_staff'] == 'is_staff' %}
            <div class="col s12 m3">
            {% else %}
            <div class="col s12 m4">
            {% endif %}
                <div class="card">
                    <p class="card-title">User</p>
                    <div class="card-image">
                        <i class="material-icons card-icon">person</i>     
                        <a id="users" value="users" class="btn-floating btn-large halfway-fab waves-effect waves-light red pulse form-trigger"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content register-card-content">
                        <p>Adopt, hire a service or find the nearest store!</p>
                    </div>
                </div>
            </div>
            {% if session['is_staff'] == 'is_staff' %}
            <div class="col s12 m3">
            {% else %}
            <div class="col s12 m4">
            {% endif %}
                <div class="card">
                    <p class="card-title">Services</p>
                    <div class="card-image">
                        <i class="material-icons card-icon">supervisor_account</i>  
                        <a id="services" value="services" class="btn-floating btn-large halfway-fab waves-effect waves-light red pulse form-trigger"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content register-card-content">
                        <p>Offer your service and find new customers!</p>
                    </div>
                </div>
            </div>
            {% if session['is_staff'] == 'is_staff' %}
            <div class="col s12 m3">
            {% else %}
            <div class="col s12 m4">
            {% endif %}
                <div class="card">
                    <p class="card-title">Stores</p>
                    <div class="card-image">
                        <i class="material-icons card-icon">shopping_cart</i>
                        <a id="stores" value="stores" class="btn-floating btn-large halfway-fab waves-effect waves-light red pulse form-trigger"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content register-card-content">
                        <p>Expose your brand to new consumers!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% include 'forms/dogs/register-dog.html' %}

            {% include 'forms/users/register-user.html' %}

            {% include 'forms/services/register-service.html' %}

            {% include 'forms/stores/register-store.html' %}
        </div>
    </div>
</div>  
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup-deck.jpg"></div>
</div>

{% endblock %}