
{% extends 'layout/base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>
<div class="section white">
    <div class="container">
    {% if session['is_staff'] != 'is_staff' %}
        <div class="col s12">
            <p class="heading-text">Oops! This area is for staff only.</p>
            <p class="secondary-text">Not to worry! Click on the button below and we will bring you back home.</p>
            <a href="{{url_for('user_home')}}" class="waves-effect waves-light btn card-action-button">
                <i class="material-icons right card-action-button-icon">home</i>
                <span>Bring me back home</span>
            </a>
        </div>
    {% endif %}
    {% if session['is_staff'] == 'is_staff' %}
        <div class="row card-row-find">
            {% for request in requests %}
                <div class="row card single-card">
                    <div class="col s12 m3 card-first-div">
                        <p class="card-title">Adoptant</p>
                        <p class="card-content-title">Name</p>
                        <p>{{request.first_name}} {{request.last_name}}</p>
                        <p class="card-content-title">Email</p>
                        <p>{{request.email}}</p>
                    </div>
                    <div class="col s12 m5 l6">
                        <div class="card-content">
                            <p class="card-title">Dog</p>
                            <p class="card-content-title">Name</p>
                            <p>{{request.dog_name}}</p>
                            <p class="card-content-title">Breed</p>
                            <p>{{request.dog_breed}}</p>
                            <p class="card-content-title">Reasoning</p>
                            <p>{{request.why_adopt}}</p>
                        </div>
                    </div>
                    <div class="col s12 m4 l3 buttons-row">
                        <p class="card-title">Adoption</p>
                        <p>Was the dog adopted?</p>
                        <a value="not_adopted_dog" id="{{request._id}}" class="waves-effect waves-light btn card-action-button form-trigger">
                            <i class="material-icons right card-action-button-icon">clear</i>
                            <span>No</span>
                        </a>
                        <a value="adopted_dog" id="{{request._id}}"  class="waves-effect waves-light btn card-action-button form-trigger">
                            <i class="material-icons right card-action-button-icon">done</i>
                            <span>Yes</span>
                        </a>
                    </div>
                </div>
                {% include 'forms/adoption/adopted.html' %}
                {% include 'forms/adoption/not-adopted.html' %}
            {% endfor %}
        </div>
    {% endif %}
    </div>
</div>  

{% endblock %}
 action="{{ url_for('delete_entry', usr_type='not_adopted', usr_id=request._id) }}"  method="POST"