{% extends 'layout/base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>
<div class="section white">
    <div class="container">
        <div class="container">
            <h2 class="heading-text">Pawer Services</h2>
            <p class="secondary-text">Dog walkers, pet sitters, trainers, groomers...you can find all that and more
                here!</p>
            <p>Have a look at our amazing services providers! You can use as a reference the feedbacks they received
                from previous customers!</p>
            <p>If you are registered, <a href="{{url_for('user_login')}}">login here</a>! If you aren't registered yet,
                <a href="{{url_for('register')}}">register here</a> and get amazing discounts in products and
                services!</p>
            <p>Only registered and logged in users are able to leave feedback to service providers.</p>
        </div>
        <div class="row card-row-find">
            {% for service in services %}
            <div class="card row card-item-row">
                <div class="col s12 m3">
                    <p class="card-title">{{service.type_of_service}}</p>
                    <div class="card-image">
                        <i class="material-icons card-icon">supervisor_account</i>
                    </div>
                    <div class="card-content-title">
                        <span>{{service.fb_received.positive}}</span>
                        <i class="material-icons card-action-button-icon">thumb_up</i>
                        <span>{{service.fb_received.negative}}</span>
                        <i class="material-icons card-action-button-icon">thumb_down</i>
                    </div>
                </div>
                {% if session['is_staff'] %}
                <div class="col s12 m6">
                    <div class="card-content">
                        <p class="card-content-title">Description</p>
                        <p>Provider: {{service.first_name}} {{service.last_name}}</p>
                        <p class="truncate">{{service.service_description}}</p>
                    </div>
                </div>
                {% if session['is_staff'] == 'is_staff' %}
                <div class="col s12 m3 buttons-row">
                    <a id="{{service._id}}" value="feedback" class="waves-effect waves-light btn card-action-button form-trigger">
                        <i class="material-icons right card-action-button-icon">thumbs_up_down</i>
                        <span>Feedback</span>
                    </a>
                    <a id="{{service._id}}" value="edit"
                        class="waves-effect waves-light btn card-action-button form-trigger">
                        <i class="material-icons right card-action-button-icon">edit</i>
                        <span>Edit</span>
                    </a>
                    <a id="{{service._id}}" value="delete"
                        class="waves-effect waves-light btn card-action-button form-trigger">
                        <i class="material-icons right card-action-button-icon">delete</i>
                        <span>Delete</span>
                    </a>
                </div>
                {% endif %}
                {% endif %}
            </div>
            {% include 'forms/services/feedback-service.html' %}
            {% if session['is_staff'] == 'is_staff' %}
                {% include 'forms/services/edit-service.html' %}
                {% include 'forms/services/delete-service.html' %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}