/* Presets / Overrides */

html {
    scroll-behavior: smooth;
}
body {
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
.section {
    padding-top: 0; 
    padding-bottom: 0; 
}
.container {
    padding: 1rem;
}
/* Parallax */
.parallax-container {
    width: 100%;
    height: 60vh;
}
.parallax-container .parallax img {
    max-width: 300%;
}
/* Collapsible menu */
#sidenav-overlay {
  z-index: 1;
}
.drag-target {
    z-index: 1;
}