/* Presets */

html {
    scroll-behavior: smooth;
}
body {
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    padding: 1rem;
}
.parallax-container {
    top: 3.5rem;
    width: 100%;
    max-height: 70vh;
}
.parallax-container .parallax img {
    max-width: 300%;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
    position: relative;
    opacity: 1;
}
#sidenav-overlay {
  z-index: 1;
}