@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lexend+Tera|Roboto&display=swap');

.secondary-text {
    font-family: "Lexend Tera", sans-serif;
    color: $black-color;
    font-weight: 900;
    font-size: 2.5rem;
}

p {
    font-family: "Roboto", sans-serif;
    color: $black-color;
    font-size: 1.5rem;
}