/* General */

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lexend+Tera&display=swap');

html {
    scroll-behavior: smooth;
}

 @mixin border-radius {
    -webkit-border-radius: 0.5rem!important;
    -moz-border-radius: 0.5rem!important;
    -ms-border-radius: 0.5rem!important;
    border-radius: 0.5rem!important;
}


$yellow-color: #FCD23C;
$red-color: #D8414B;
$black-color: #343334;
$blue-color: #1184ff;


// Base.html
.nav {
    padding: 1rem;
}
.nav-wrapper {
    background-color: $yellow-color;
    
    .logo-box {
        display: flex;
        justify-content: center;
        align-items: baseline;

        img {
            max-height: 4rem;
            margin: 0.2rem 0.5rem;
        }
        a {
            font-family: "Alfa Slab One", "Sans Serif";
            font-size: 5rem;
            color: $black-color;
        }  
    }
    
    span {
        color: $red-color;
        font-family: "Lexend Tera", "Sans Serif";
        color: $black-color;
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
    .col.s2 {
        padding: 0.3rem;
    }
    p {
        margin: 0;
        color: $red-color;
        font-size: 1.2rem;
        line-height: 1.3rem;
        font-weight: 600;
    }
}




@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        // height: 6rem;
    }
    .menu-icon{
        font-size: 4rem!important;
        margin: -0.5rem!important;
    }
}