<div class="form-box hide" id="{{ service._id }}" value="feedback">
    <form action="{{ url_for('user_feedback', usr_type='services', receiver_id=service._id) }}" method="POST" class="col s12">
        <h2 class="heading-text">Tell us!</h2>
        <p class="secondary-text center">Leave your feedback for this service.</p>
        <p class="center">Your feedback is very important to us and to other users, helping them with their choices!</p>
        <div class="row">
            <div class="col s6 feedback-radio">
                <label>
                    <input class="with-gap" name="feedback-radio" value="positive" type="radio" checked />
                    <span>Positive</span>
                </label>
            </div>
            <div class="col s6 feedback-radio">
                <label>
                    <input class="with-gap" name="feedback-radio" value="negative" type="radio" />
                    <span>Negative</span>
                </label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Leave Feedback
                <i class="material-icons right">thumbs_up_down</i>
            </button>
        </div>
    </form>
</div>