<div class="row form-box hide" id="stores" value="stores">
    <form action="{{ url_for('add_entry', usr_type='stores') }}" method="POST" class="col s12">
        <div class="row">
            <h2 class="heading-text">Register a Store</h2>
            <p class="secondary-text center">Here you can register your store.</p>
            <p class="center">Please fill in the form below and then press "Create Account".</p>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input name="store_name" type="text" class="validate" data-length="40" required>
                <label for="store_name">Store Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input name="email" type="email" class="validate" data-length="40" required>
                <label for="email">Email</label>
            </div>
            <div class="input-field col s6">
                <input name="aff_link" type="text" class="validate" data-length="40">
                <label for="aff_link">website</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="password" type="password" class="validate" data-length="40" required>
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input name="discount_code" type="text" class="validate" data-length="40">
                <label for="discount_code">Discount Code</label>
            </div>
            <div class="input-field col s6">
                <input name="discount_amount" type="text" class="validate" data-length="40">
                <label for="discount_amount">Discount Amount</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea name="store_address" class="materialize-textarea" data-length="400" required></textarea>
                <label for="store_address">Address</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea name="store_description" class="materialize-textarea" data-length="400" required></textarea>
                <label for="store_description">Short description</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Create Account
                <i class="material-icons right">playlist_add</i>
            </button>
        </div>
    </form>
</div>