.card {
    min-height: 100%;
    padding: 2.5rem 0 0;
    
    .card-title{
        color: $black-color;
        font-weight: 500;
        margin-top: 0;
    }
    .card-icon{
        font-size: 7rem;
    }
    .card-content {
        margin: 0 2rem;
        padding: 0;
        text-align: left;
    }
    // .cards-buttons {
    //     margin: 1rem;
    // }
    .card-content-title {
        font-size: 2rem;
    }
    .card-icon {
        opacity: 0.5;
    }
}