/* Buttons */

.nav-action-button {
    color: #343334;
    font-weight: 700;
    margin: auto;
    padding: 0;
    width: 35%;
}
.card-action-button {
    width: 100%;
    padding: 0 0.5rem;
    margin: 1rem 0;
    font-family: Lexend Tera, sans-serif;
    font-weight: 600;
}
.card-action-button-icon {
    margin: 0 0.5rem;
}
.index-action-button{
    color: $white-color;
    margin: 1rem 0;
    font-size: 2rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 6px 13px 0px #00000094;
    
    i{
        font-size: 3rem;
        margin-right: 0.5rem;
    }
}
