
{% extends 'base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Register</h2>
        <p>Choose one of the categories below to choose a type for your account</p>
        <div class="row">
            <div class="col s3">
                <div class="card">
                    <span class="card-title">Dogs</span>
                    <div class="card-image">
                        <i class="material-icons card-icon">pets</i>
                        <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Add new dog to the database</p>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="card">
                    <span class="card-title">User</span>
                    <div class="card-image">
                        <i class="material-icons card-icon">person</i>     
                        <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Create a user account to adopt, hire a service or find the nearest store!</p>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="card">
                    <span class="card-title">Services</span>
                    <div class="card-image">
                        <i class="material-icons card-icon">supervisor_account</i>  
                        <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Offer your service and find new customers!</p>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="card">
                    <span class="card-title">Stores</span>
                    <div class="card-image">
                        <i class="material-icons card-icon">shopping_cart</i>
                        <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Create an account for your store and expose your brand to new consumers!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  

{% endblock %}