
{% extends 'base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="row card-row-dogs">
            {% for dog in dogs %}
                <div class="card row">
                    <div class="col s3">
                        <span class="card-title">{{dog.dog_name}}</span>
                        <div class="card-image">
                            <i class="material-icons card-icon">pets</i>
                        </div>
                        <p class="card-breed">{{dog.dog_breed}}</h5>
                    </div>
                    <div class="col s2 buttons-row">
                        <a class="btn-floating btn-large waves-effect waves-light pulse center dogs_buttons"><i class="material-icons">add</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light pulse center dogs_buttons"><i class="material-icons">add</i></a>
                    </div>
                    <div class="col s7">
                        <div class="card-content">
                            <p class="card-breed">{{dog.dog_breed}}</h5>
                            <p class="truncate">{{dog.dog_description}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>  

{% endblock %}