
{% extends 'base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="row card-row-find">
            {% for dog in dogs %}
                <div class="card row find-row">
                    <div class="col s3">
                        <p class="card-title">{{dog.dog_name}}</p>
                        <div class="card-image">
                            <i class="material-icons card-icon">pets</i>
                        </div>
                        <p class="card-breed">{{dog.dog_breed}}</p>
                    </div>
                    <div class="col s2 buttons-row">
                        <a href="#" class="waves-effect waves-light btn action-button-card">
                            <i class="material-icons right action-button-card-icon">favorite</i>
                            <span>Adopt</span>
                        </a>
                        {% if session['is_staff'] %}
                        <a href="{{ url_for('update_entry', entry_type='dog', entry_id=dog._id) }}" name="update_dog" class="waves-effect waves-light btn action-button-card">
                            <i class="material-icons right action-button-card-icon">edit</i>
                            <span>Edit</span>
                        </a>
                        <a href="#" name="delete_dog" class="waves-effect waves-light btn action-button-card">
                            <i class="material-icons right action-button-card-icon">delete</i>
                            <span>Delete</span>
                        </a>
                        {% endif %}
                    </div>
                    <div class="col s7">
                        <div class="card-content">
                            <p class="card-content-title">Description</p>
                            <p class="truncate">{{dog.dog_description}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>  

{% endblock %}