
{% extends 'base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        {% for dog in dogs %}
        <div class="col s3">
            <div class="card">
                <span class="card-title">{{dog.dog_name}}</span>
                <div class="card-image">
                    <i class="material-icons card-icon">pets</i>
                    <a value="stores" class="btn-floating btn-large halfway-fab waves-effect waves-light red pulse account-type"><i class="material-icons">add</i></a>
                    <a value="stores" class="btn-floating btn-large halfway-fab waves-effect waves-light green pulse account-type"><i class="material-icons">add</i></a>

                </div>
                <div class="card-content">
                    <h5>{{dog.dog_breed}}</h5>
                    <p>{{dog.dog_description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>  

{% endblock %}