
{% extends 'base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="heading-text">Login</h2>
        {% if user == 'invalid' %}
            <h5>Invalid User</h5>
        {% endif %}
        {% if user == 'valid' %}
            <h5>Successful login</h5>
        {% endif %}
        <!-- <h5>{{user}}</h5> -->
        <form method="POST" action="{{ url_for('user_login') }}" class="col s12 offset-m3 m6 login-form">
            <p>Please select your account type:</p>
            <div class="login-radio">
                <label>
                    <input class="with-gap" value="user" name="user_type_radio" type="radio" checked/>
                    <span>User</span>
                </label>
                <label>
                    <input class="with-gap" value="service" name="user_type_radio" type="radio"/>
                    <span>Service</span>
                </label>
                <label>
                    <input class="with-gap" value="store" name="user_type_radio" type="radio"/>
                    <span>Store</span>
                </label>
            </div>
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="login_email" name="login_email" type="email" class="validate">
                        <label for="login_email">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit">Login
                    <i class="material-icons right">account_circle</i>
                </button>
            </div>
        </form>   
    </div>
</div>  
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>

{% endblock %}