
{% extends 'base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="heading-text">Register</h2>
        <p>Choose one of the categories below to choose a type for your account</p>
        <div class="row card-row-register">
             {% if session['is_staff'] == 'is_staff' %}
            <div class="col s12 m3">
                <div class="card">
                    <p class="card-title">Dogs</p>
                    <div class="card-image">
                        <i class="material-icons card-icon">pets</i>
                        <a id="dogs" value="dogs" class="btn-floating btn-large halfway-fab waves-effect waves-light red pulse form-trigger"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Add new dog to the database</p>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col s12 m3">
                <div class="card">
                    <p class="card-title">User</p>
                    <div class="card-image">
                        <i class="material-icons card-icon">person</i>     
                        <a id="users" value="users" class="btn-floating btn-large halfway-fab waves-effect waves-light red pulse form-trigger"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Adopt, hire a service or find the nearest store!</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card">
                    <p class="card-title">Services</p>
                    <div class="card-image">
                        <i class="material-icons card-icon">supervisor_account</i>  
                        <a id="services" value="services" class="btn-floating btn-large halfway-fab waves-effect waves-light red pulse form-trigger"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Offer your service and find new customers!</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card">
                    <p class="card-title">Stores</p>
                    <div class="card-image">
                        <i class="material-icons card-icon">shopping_cart</i>
                        <a id="stores" value="stores" class="btn-floating btn-large halfway-fab waves-effect waves-light red pulse form-trigger"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Expose your brand to new consumers!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {%if existing_dog==True%}
                <h2>This dog is already in the database!</h2>
            {% endif %}
            {% include 'forms/dogs/register-dog.html' %}

            {%if existing_user==True%}
                <h2>This user email is already in the database!</h2>
            {% endif %}
            {% include 'forms/users/register-user.html' %}

            <!-- {%if existing_user==True%}
                <h2>This service email is already in the database!</h2>
            {% endif %} -->
            {% include 'forms/services/register-service.html' %}

            <!-- {%if existing_user==True%}
                <h2>This store email is already in the database!</h2>
            {% endif %} -->
            {% include 'forms/stores/register-store.html' %}
        </div>
    </div>
</div>  
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>

{% endblock %}