
{% extends 'base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="heading-text">Register</h2>
        <p>Choose one of the categories below to choose a type for your account</p>
        <div class="row card-row-register">
            <div class="col s3">
                <div class="card">
                    <p class="card-title">Dogs</p>
                    <div class="card-image">
                        <i class="material-icons card-icon">pets</i>
                        <a id="dogs" value="dogs" class="btn-floating btn-large halfway-fab waves-effect waves-light red pulse form-trigger"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Add new dog to the database</p>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="card">
                    <p class="card-title">User</p>
                    <div class="card-image">
                        <i class="material-icons card-icon">person</i>     
                        <a id="users" value="users" class="btn-floating btn-large halfway-fab waves-effect waves-light red pulse form-trigger"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Adopt, hire a service or find the nearest store!</p>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="card">
                    <p class="card-title">Services</p>
                    <div class="card-image">
                        <i class="material-icons card-icon">supervisor_account</i>  
                        <a id="services" value="services" class="btn-floating btn-large halfway-fab waves-effect waves-light red pulse form-trigger"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Offer your service and find new customers!</p>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="card">
                    <p class="card-title">Stores</p>
                    <div class="card-image">
                        <i class="material-icons card-icon">shopping_cart</i>
                        <a id="stores" value="stores" class="btn-floating btn-large halfway-fab waves-effect waves-light red pulse form-trigger"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <p>Expose your brand to new consumers!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {%if existing_dog==True%}
                <h2>This dog is already in the database!</h2>
            {% endif %}
            {% include 'forms/dogs/register-dog.html' %}

            {%if existing_user==True%}
                <h2>This user email is already in the database!</h2>
            {% endif %}
            <div class="row form-box hide" id="users" value="users">
                <form action="{{ url_for('add_entry', usr_type='users') }}" method="POST" class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input name="first_name" type="text" class="validate" required>
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="_email" type="email" class="validate">
                            <label for="_email">Email</label>
                        </div>
                    </div>
                    {% if session['is_staff'] %}
                    <div class="row">
                        <div class="switch">
                            <label>
                            Client
                            <input name="is_staff" type="checkbox" unchecked>
                            <span class="lever"></span>
                            Staff
                            </label>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea name="user_description" class="materialize-textarea"></textarea>
                            <label for="user_description">Bio</label>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn waves-effect waves-light" type="submit">Create Account
                            <i class="material-icons right">playlist_add</i>
                        </button>
                    </div>
                </form>
            </div>
            {%if existing_service==True%}
                <h2>This service email is already in the database!</h2>
            {% endif %}
            {% include 'forms/services/register-service.html' %}

            {%if existing_store==True%}
                <h2>This store email is already in the database!</h2>
            {% endif %}
            <div class="row form-box hide" id="stores" value="stores">
                <form action="{{ url_for('add_entry', usr_type='stores') }}" method="POST" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="store_name" type="text" class="validate">
                            <label for="store_name">Store Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input name="store_address" type="text" class="validate" required>
                            <label for="store_addres">Store Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="_email" type="email" class="validate">
                            <label for="_email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea name="store_description" class="materialize-textarea"></textarea>
                            <label for="store_description">Short description</label>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn waves-effect waves-light" type="submit">Create Account
                            <i class="material-icons right">playlist_add</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>

{% endblock %}