
{% extends 'base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="row card-row-find">
            {% for store in stores %}
                <div class="card row card-item-row">
                    <div class="col s12 m3">
                        <p class="card-title">{{store.store_name}}</p>
                        <div class="card-image">
                            <i class="material-icons card-icon">shopping_cart</i>
                        </div>
                    </div>
                    {% if session['is_staff'] %}
                    <div class="col s12 m2 buttons-row">
                        <a id="{{store._id}}" name="edit-store" value="store" class="waves-effect waves-light btn card-action-button edit-button">
                            <i class="material-icons right card-action-button-icon">edit</i>
                            <span>Edit</span>
                        </a>
                        <a id="{{store._id}}" name="delete_store" class="waves-effect waves-light btn card-action-button delete-button">
                            <i class="material-icons right card-action-button-icon">delete</i>
                            <span>Delete</span>
                        </a>
                    </div>
                    {% endif %}
                    <div class="col s12 m7">
                        <div class="card-content">
                            <p class="card-content-title">Description</p>
                            <p>Address: {{store.store_address}}</p>
                            <p class="truncate">{{store.store_description}}</p>
                        </div>
                    </div>
                </div>
                {% if session['is_staff'] %}
                <div class="edit-form-box hide" id="{{ store._id }}">
                    <form action="{{ url_for('update_entry', usr_type='stores', usr_id=store._id) }}" method="POST" class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="store_name" type="text" class="validate">
                                <label for="store_name">{{store.store_name}}</label>
                            </div>
                            <div class="input-field col s6">
                                <input name="store_address" type="text" class="validate">
                                <label for="store_addres">{{store.store_address}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="_email" type="email" class="validate">
                        <label for="_email">{{store._email}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="password" type="password" class="validate">
                                <label for="password">{{store.password}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea name="store_description" class="materialize-textarea"></textarea>
                                <label for="store_description">{{store.store_description}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light" type="submit">Update Account
                                <i class="material-icons right">edit</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="delete-form-box hide" id="{{store._id}}">
                    <form action="{{ url_for('delete_entry', usr_type='stores', usr_id=store._id) }}" method="POST" class="col s12 delete-form">
                        <div class="row">
                           <h3>Are you sure ou want to delete?</h3>
                            <button class="btn waves-effect waves-light" type="submit">Yes, Delete
                                <i class="material-icons right">delete</i>
                            </button>
                        </div>
                    </form>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>  

{% endblock %}