
{% extends 'base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>
<div class="section white">
    <div class="row container">      
        <div class="buttons-row">
        <h2>Entry updated!</h2>
            <a href="{{ url_for('get_dogs') }}" class="waves-effect waves-light btn action-button-card">
                <i class="material-icons right action-button-card-icon">favorite</i>
                <span>Go Back</span>
            </a>
        </div>
    </div>
</div>  

{% endblock %}