
{% extends 'base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_basket.jpeg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Find your best friend!</h2>
        <p class="secondary-text">We have a great variety of dogs and the staff to find your perfect match.</p>
        <p>Adopting a dog is a big deal, we know. We are here to make sure you find a new best friend that will be a great fit to your life.</p>
        <p>Our team of specialists are looking forward to hear from you what do you look for and to give you directions on how to enhance your experience as a 
        dog-owner-to-be or how to help your pack accepting their new buddy.</p>
        <h4>Visit our <a href="{{url_for('get_dogs')}}" >adoption page</a></h4>
    </div>
</div>  
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/dog_training.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Go training!</h2>
        <p class="secondary-text">Find the best trainers and places where you can train your dog!</p>
        <p>There's no better thing than going out and showing off your dog working with you...Having your friends saying how well behaviored they are!</p>
        <p>We have a great pool of certified professionals that can help you reaching your goals and even more. Most options will offer you different levels of training, 
        depending on how you and your dog are communicating.</p>
        <p>One-on-one or group sessions are available all year around.</p>
        <h4>Visit our <a href="{{url_for('get_services')}}" >PAWER Training</a> page</h4>
    </div>
</div>  
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pet_store.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Go shopping!</h2>
        <p class="secondary-text">Looking for dog food, new toys, vets, grooming and other services? We've got your back!</p>
        <p>Go through a variety of shops that offer as many options of products as you can dare to imagine!</p>
        <p>The staff in store are looking forward to help you finding whar you're looking for and guide you to the best choices.</p>
        <p>If you prefer to buy online, some stores offer you live chat for support in real time.</p>
        <h4>Visit our <a href="#" >PAWER Shops</a> page</h4>
    </div>
</div>  
{% endblock %}