
{% extends 'base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_deck.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="row card-row-find">
            {% for user in users %}
                <div class="card row card-item-row">
                    <div class="col s3">
                        <p class="card-title">{{user.first_name}} {{user.last_name}}</p>
                        <div class="card-image">
                            <i class="material-icons card-icon">person</i>
                        </div>
                    </div>
                    {% if ( session['is_staff'] or user._id == session['_id'] ) %}
                    <div class="col s2 buttons-row">
                        <a type="submit" id="{{user._id}}" name="edit" value="user" class="waves-effect waves-light btn card-action-button edit_button">
                            <i class="material-icons right card-action-button-icon">edit</i>
                            <span>Edit</span>
                        </a>
                        <a type="submit" id="{{user._id}}" name="delete_user" class="waves-effect waves-light btn card-action-button delete-button">
                            <i class="material-icons right card-action-button-icon">delete</i>
                            <span>Delete</span>
                        </a>
                    </div>
                    {% endif %}
                    <div class="col s7">
                        <div class="card-content">
                            {% if user.is_staff == 'on' %}
                                <h4>STAFF</h4>
                            {% endif %}
                            <p class="card-content-title">Description</p>
                            <p class="truncate">{{user.user_description}}</p>
                        </div>
                    </div>
                </div>
                {% if session['is_staff'] %}
                <div class="edit-form-box hide" id="{{ user._id }}">
                    <form action="{{ url_for('update_user', usr_id=user._id) }}" method="POST" class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first_name" name="first_name" type="text" class="validate" required>
                                <label for="first_name">{{user.first_name}}</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" name="last_name" type="text" class="validate">
                                <label for="last_name">{{user.last_name}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" name="password" type="password" class="validate">
                                <label for="password">{{user.password}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="_email" name="_email" type="email" class="validate">
                                <label for="_email">{{user._email}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="switch">
                                <label>
                                Client
                                <input id="is_staff" name="is_staff" type="checkbox">
                                <span class="lever"></span>
                                Staff
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="user_description" name="user_description" class="materialize-textarea"></textarea>
                                <label for="user_description">{{user.user_description}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light" type="submit">Update Account
                                <i class="material-icons right">edit</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="delete-form-box hide" id="{{user._id}}">
                    <form action="{{ url_for('delete_user', usr_id=user._id) }}" method="POST" class="col s12 delete-form">
                        <div class="row">
                           <h3>Are you sure ou want to delete?</h3>
                            <button action="" class="btn waves-effect waves-light" type="submit">Yes, Delete
                                <i class="material-icons right">delete</i>
                            </button>
                        </div>
                    </form>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>  

{% endblock %}