
{% extends 'base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/pup_basket.jpeg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        <div class="test-div"></div>
    </div>
</div>  
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/dog_training.jpg"></div>
</div>

{% endblock %}