<div class="row form-box hide" id="users" value="users">
    <form action="{{ url_for('add_entry', usr_type='users') }}" method="POST" class="col s12">
        <div class="row">
            <h2 class="heading-text">Welcome!</h2>
            <p class="secondary-text center">Here you can register a new user and you're good to go!</p>
            <p class="center">Just fill in the fields and then press the "Create Account" button at the end of the form.</p>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input name="first_name" type="text" class="validate" data-length="40" required>
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input name="last_name" type="text" class="validate" data-length="40" required> 
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="email" type="email" class="validate" data-length="40" required> 
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="password" type="password" class="validate" data-length="40" required>
                <label for="password">Password</label>
            </div>
        </div>
        {% if session['is_staff'] %}
        <div class="row">
            <div class="switch">
                <label>
                Client
                <input name="is_staff" type="checkbox" unchecked>
                <span class="lever"></span>
                Staff
                </label>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="input-field col s12">
                <textarea name="user_description" class="materialize-textarea" data-length="400"></textarea>
                <label for="user_description">Bio</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Create Account
                <i class="material-icons right">playlist_add</i>
            </button>
        </div>
    </form>
</div>