<header>
    <nav>
        <div class="row nav-wrapper">
            <div class="col s4 menu-box">
                <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons menu-icon">menu</i></a>
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li><a href="{{url_for('user_home')}}">Home</a></li>
                    <li><a href="{{url_for('get_dogs')}}">Adoption</a></li>
                    {% if session['is_staff'] == 'is_staff' %}
                    <li><a href="{{url_for('get_users')}}">Users</a></li>
                    {% endif %}
                    <li><a href="{{url_for('get_services')}}">Services</a></li>
                    <li><a href="{{url_for('get_stores')}}">Stores</a></li>                
                </ul>
                <ul class="side-nav" id="mobile-menu">
                    <li><a href="{{url_for('user_home')}}">Home</a></li>
                    <li><a href="{{url_for('get_dogs')}}">Adoption</a></li>
                    {% if session['is_staff'] == 'is_staff' %}
                    <li><a href="{{url_for('get_users')}}">Users</a></li>
                    {% endif %}
                    <li><a href="{{url_for('get_services')}}">Services</a></li>
                    <li><a href="{{url_for('get_stores')}}">Stores</a></li> 
                    <div class="row register-box show-on-small-only">
                        {% if not session %}
                        <a href="{{url_for('register')}}" class="col s12 btn waves-effect general-text nav-action-button">Register</a>
                        <a href="{{url_for('user_login')}}" class="col s12 btn waves-effect general-text nav-action-button">Login</a>
                        {% endif %}
                        {% if session['is_staff'] == 'is_staff' %}
                        <a href="{{url_for('register')}}" class="col s12 btn waves-effect general-text nav-action-button">Register</a>
                        <a href="{{url_for('user_logout')}}" class="col s12 btn waves-effect general-text nav-action-button">Logout</a>
                        {% endif %}
                        {% if session['is_staff'] == 'not_staff' %}     
                        <a href="{{url_for('user_logout')}}" class="col s12 btn waves-effect general-text nav-action-button">Logout</a>
                        {% endif %}

                    </div>
                </ul>
            </div>
            <div class="col s4 logo-box">
                <img src="./static/images/pawer_logo.png" alt="Pawer Logo">
                <a class="pawer-logo-name" href="{{url_for('user_home')}}" >PAWER</a>
                <div class="three-words">
                    <p>|ADOPTION</p>
                    <p>|SERVICES</p>
                    <p>|STORES</p>
                </div>
            </div>
            <div class="col s4 register-box hide-on-small-only">
             {% if not session %}
                <a href="{{url_for('register')}}" class="btn waves-effect general-text nav-action-button">Register</a>
                <a href="{{url_for('user_login')}}" class="btn waves-effect general-text nav-action-button">Login</a>
            {% endif %}
            {% if session['is_staff'] == 'is_staff' %}
                <a href="{{url_for('register')}}" class="btn waves-effect general-text nav-action-button">Register</a>
                <a href="{{url_for('user_logout')}}" class="btn waves-effect general-text nav-action-button">Logout</a>
            {% endif %}
            {% if session['is_staff'] == 'not_staff' %}     
                <a href="{{url_for('user_logout')}}" class="btn waves-effect general-text nav-action-button">Logout</a>
            {% endif %}
            </div>
        </div>
    </nav>
</header>