<h2 class="heading-text">Staff Dashboard</h2>
<p class="secondary-text">Here you can find all the operations you can do as a staff member.</p>
<p>Each of the cards below will bring you to their correspondent page, where you can manipulate all different records</p>
<div class="row card-row-find">
    <div class="card row single-card">
        <div class="col s12 m3">
            <p class="card-title">Users</p>
        </div>
        <div class="col s12 m5 l6">
            <div class="card-content">
                <p class="card-content-title">Description</p>
                <p> Update or delete users</p>
            </div>
        </div>
        <div class="col s12 m4 l3 buttons-row">
            <a href="{{url_for('get_users')}}" class="waves-effect waves-light btn card-action-button form-trigger">
                <i class="material-icons left card-action-button-icon">person</i>
                <span>Users</span>
            </a>
        </div>
    </div>
    <div class="card row single-card">
        <div class="col s12 m3 l3">
            <p class="card-title">Adoption Requests</p>
        </div>
        <div class="col s12 m5 l6">
            <div class="card-content">
                <p class="card-content-title">Description</p>
                <p>Update or delete adoption requests</p>
            </div>
        </div>
        <div class="col s12 m4 l3 buttons-row">
            <a href="{{url_for('get_adopt_requests')}}" class="waves-effect waves-light btn card-action-button form-trigger">
                <i class="material-icons left card-action-button-icon">pets</i>
                <span>Process</span>
            </a>
        </div>
    </div>
    <div class="card row single-card">
        <div class="col s12 m3 l3">
            <p class="card-title">Create New Account</p>
        </div>
        <div class="col s12 m5 l6">
            <div class="card-content">
                <p class="card-content-title">Description</p>
                <p class="truncate">Add new dog or user</p>
            </div>
        </div>
        <div class="col s12 m4 l3 buttons-row">
            <a href="{{url_for('register')}}" class="waves-effect waves-light btn card-action-button form-trigger">
                <i class="material-icons left card-action-button-icon">person_add</i>
                <span>Register</span>
            </a>
        </div>
    </div>
</div>  
